body{
    background-color: rgb(221, 42, 42);
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    padding: 5em;
    margin-bottom: 0%;
}


.fondoBlanco{
    background-color: white;
}
.fondoAzul{
    background-color: rgb(74, 110, 173);
}

p{
    font-size: 25;
}

.imagen{
    width: 150px;
}
.texto1{
    text-align: center;
    font-size: 3em;
    color: rgb(223, 13, 13);
}
.texto2{
font-size: 1em;
color: white;
text-align: justify;
background-color: rgb(255, 80, 80);
}
.texto3{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.separacion{
padding: 1em;

}
.borde{
    border: 10px solid white;
    border-radius: 10px;
}
.bordeAzul{
 border: 2px solid rgb(74, 110, 173);
 border-radius: 5px;
}
.bordeRojoP{
    border: 2px solid rgb(255, 80, 80);
    border-radius: 5px;
}
li{
    margin-top: 10px;
}
.pie{
    background-color: black;
    text-align: center;
    color: rgb(255, 0, 0);
    padding: 10px;
}   